@keyframes popIn {

	0% {
		transform: scale(1) rotate(0deg);
	}

	35% {
		transform: scale(1) rotate(10deg);
	}

	50% {
		transform: scale(1) rotate(-10deg);
	}

	70% {
		transform: scale(1.3) rotate(10deg);
	}

	100% {
		transform: scale(1.2) rotate(0deg);
	}

}

@keyframes popOut {

	0% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}

}

.product-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
	margin-bottom: 30px;

	@media (max-width: 600px) {
		grid-template-columns: auto;
		grid-template-rows: auto;
		column-gap: auto;
		row-gap: 20px;
	}

	> div {
		background-image: radial-gradient(#fff, #cdd7ed);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:nth-child(2) {
			background-image: radial-gradient(#fff, #f1d995);

			&::before {
				content: "Top Seller";
				position: absolute;
				top: 0;
				right: 0;
				background: #0033a0;
				color: #fff;
				padding: 10px 20px;
				font-size: 13px;
				text-transform: uppercase;
			}
		}

		img {
			transition: all 0.75s cubic-bezier(0, 0.01, 0.19, 0.99);
			padding: 0 20px 30px 20px;
		}

		.price {
			animation: popOut 1s cubic-bezier(0, 0.01, 0.19, 0.99) 1 normal forwards;
			position: absolute;
			right: 30px;
			bottom: 30px;
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			text-align: center;
			line-height: 2.8;
			background: #008000;
			border-radius: 60px;
			width: 60px;
			height: 60px;

			&::before {
				content: "$";
			}
		}

		&:hover {

			img {
				transform: scale(1.05);
			}

			.price {
				animation: popIn 0.35s cubic-bezier(0, 0.01, 0.19, 0.99) 1 normal forwards;
			}
		}
	}
}
